/*espace vertical*/
.voffset  { margin-top: 2px; }
.voffset1 { margin-top: 5px; }
.voffset2 { margin-top: 10px; }
.voffset3 { margin-top: 15px; }
.voffset4 { margin-top: 30px; }
.voffset5 { margin-top: 40px; }
.voffset6 { margin-top: 60px; }
.voffset7 { margin-top: 80px; }
.voffset8 { margin-top: 100px; }
.voffset9 { margin-top: 150px; }

/*messagerie privé*/
.linkout .active a {
    cursor: default;
    background-color: #2f6fa7;
    color: #fff;
    text-shadow: 1px 1px 1px #666;
}
.masse {
    background-color: red!important;
    padding: 5px 10px;
    border-radius: 2px;
    color: white;
}
.nav-pills>li>a {
    padding: 5px 10px;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    color: #fff;
    background-color: #2f70a9;
}

hr { margin-top: 5px;margin-bottom: 10px; }

blockquote{
    display:block;
    background: #fff;
    padding: 15px 20px 15px 45px;
    margin: 0 0 20px;
    position: relative;
    font-family: Georgia, serif;
    font-size: 15px;
    line-height: 1.2;
    color: #666;
    text-align: justify;
    -moz-box-shadow: 2px 2px 15px #ccc;
    -webkit-box-shadow: 2px 2px 15px #ccc;
    box-shadow: 2px 2px 15px #ccc;
    border-radius: 5px;
}

blockquote::before{
    content: "\201C";
    font-family: Georgia, serif;
    font-size: 60px;
    font-weight: bold;
    color: #999;
    position: absolute;
    left: 10px;
    top:5px;
}

blockquote em{
    font-style: italic;
}


#mp-right {
    float: right;
    width: 60vw;
    border-left: 15px solid #479e47;
    border-right: 2px solid #479e47;
}
#mp-left {
    float: left;
    width: 60vw;
    border-left: 15px solid #428bca;
    border-right: 2px solid #428bca;
}

#mess{
    border-left: 2px solid #479e47;
    border-right: 2px solid #479e47;
}

.jqte_tool.jqte_tool_1 .jqte_tool_label {
    position:relative;
    display:block;
    padding:3px;
    width:70px;
    height:21px; /*change*/
    overflow:hidden;
}
.jqte_tool_label{
    padding-top: 1px !important; /*add*/
    height: 25px !important; /*add*/
}

.delete{
    margin-top: -5px;
}


.panel-right {
    border: none;
    margin-top: -0.65em;
    float: right;
}

.panel-title a,
.panel-title a:active,
.panel-title a:visited {
    text-decoration: none;
}

/* notifications */
.badge-notify{
    background:red;
    position:relative;
    top: -20px;
    left: -35px;
}

.dropdown {
    display:inline-block;
    margin-left:20px;
    padding:10px;
}


.glyphicon-bell {

    font-size:1.5rem;
}

.notifications {
    min-width:420px;
    margin-left: -400px;
}

.notifications-wrapper {
    overflow:auto;
    max-height:250px;
}

.menu-title {
    color:#ff7788;
    font-size:1.5rem;
    display:inline-block;
}

.glyphicon-circle-arrow-right {
    margin-left:10px;
}


.notification-heading, .notification-footer  {
    padding:2px 10px;
}


.dropdown-menu.divider {
    margin:5px 0;
}

.item-title {

    font-size:1.3rem;
    color:#000;

}

.notifications a.content {
    text-decoration:none;
    background:#ccc;

}

.notification-item {
    padding:10px;
    margin:5px;
    background:#ccc;
    border-radius:4px;
}
.bdg-not{
    margin-top: 20px;
}

/*bouton disponibilités*/

ul.form {
    position:relative;
    background:#fff;
    width: 100%;
    min-width: 150px;
    margin:auto;
    padding:0;
    list-style: none;
    overflow:hidden;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
    box-shadow:  1px 1px 10px rgba(0, 0, 0, 0.1);
}

.form li a {
    border: 1px solid grey;
    width: 100%;
    min-width: 150px;
    padding-left:20px;
    height:50px;
    line-height:50px;
    display:block;
    overflow:hidden;
    position:relative;
    text-decoration:none;
    text-transform:uppercase;
    font-size:14px;
    color:#686868;
    font-weight: bold;
}


.form li a:hover {
    background: b;
}

.form li a.nuit {
    border-left:10px solid #3174af;
}

.form li a.soir {
    border-left:10px solid #52bcdc;
}

.form li a.apres-midi {
    border-left:10px solid red;
}

.form li a.midi {
    border-left:10px solid darkorange;
}

.form li a.matin {
    border-left:10px solid #a1c927;
}

.form li a.astreinte {
    border-left:10px solid darkgray;
}

.form li a.absent {
    border-left:10px solid black;
}

.form li:first-child a:hover, .form li:first-child a {
    -webkit-border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
}

.form li:last-child a:hover, .form li:last-child a {
    -webkit-border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
}

.form li a:hover i {
    color:#ea4f35;
}

.form i {
    margin-right:15px;

    -webkit-transition:all 0.2s linear;
    -moz-transition:all 0.2s linear;
    -o-transition:all 0.2s linear;
    transition:all 0.2s linear;
}

.form em {
    font-size: 10px;
    background: #ea4f35;
    padding: 3px 5px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    font-style: normal;
    color: #fff;
    margin-top: 17px;
    margin-right: 15px;
    line-height: 10px;
    height: 10px;
    float:right;
}

.form li.selected a {
    background:#efefef;
}

/*couleur font menu deroulant datepicker*/
.ui-datepicker select.ui-datepicker-month, .ui-datepicker select.ui-datepicker-year {
    color: black;
}

/*modif pour la vue caserne*/



.panel-color{
    background-color: #f9f9f9;
}

.btn-add {
    margin-top: -7px;
    background-color: green;
}

.red {
    color: red;
}

.green {
    color: green;
}

.hidecross{
    visibility:hidden;
    margin-left: 10px;
}

tr:hover .hidecross{
    visibility:visible;
    margin-left: 10px;
}

.hideedit{
    visibility:hidden
}

tr:hover .hideedit{
    visibility:visible;
}

.hidecrossm{
    visibility:hidden;
    margin-left: 10px;
}

tr:hover .hidecrossm{
    visibility:visible;
    margin-left: 10px;
}

.hideeditm{
    visibility:hidden
}

tr:hover .hideeditm{
    visibility:visible;
}

.vehimarge{
    margin-left: 10px;
}



#nbr {
    width : 50px;
}

.stock {
    width: 23%;
}

#img-veh{
    width: 30px;
}

.edit-mod{
    width: 75px;
}

.tbl-user{
    max-height: 700px !important;
    overflow-y: scroll;
}
.tbl-material{
    max-height: 300px !important;
    overflow-y: scroll;
}
.tbl-usermaterial{
    max-height: 300px !important;
    overflow-y: scroll;
}
.tbl-vehicule{
    max-height: 800px !important;
    overflow-y: scroll;
}
html {
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

.marge {
    margin-left: 5px;
}

#barrack-map {
    margin-left: 50px;
    margin-top: 20px;
}

.tablebarrack{
    margin-top: 30px;
}
.map-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
.map-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}
.mgblist{
    margin-left: 5px;
}

.upmarge{
    margin-top: -22px;
}

.input-group-addon { width: 42px!important; }

.input-group { width: 100%!important; }